<p>We thank the following companies for their support of parts of the
Nominatim development:</p>

<div class="supporter-box">

<div class="big-supporter">

<!-- a href="https://nlnet.nl/entrust/"><img src="/img/ngi_zero_entrust.svg" alt="NGI Zero Entrust" /></a-->
<a href="https://www.sovereign.tech/programs/fellowship"><img src="/img/sovereign_tech_fellowship.png" alt="Sovereig Tech Fellowship" /></a>
<a href="https://opencagedata.com/"><img src="/img/opencage.svg" alt="OpenCage" /></a>
<a href="https://www.graphhopper.com/"><img src="/img/graphhopper.png" alt="Graphhopper" /></a>
<a href="https://www.komoot.de/"><img src="/img/komoot.png" alt="Komoot" /></a>
<!-- a href="https://nlnet.nl/"><img src="/img/nlnet.svg" alt="NLNet Foundation" /></a-->

</div>

<div class="small-supporter">

<a href="https://locationiq.com/">LocationIQ</a>

</div>
</div>
